- count=0
- ul = (1...6)
- ul.each do |li|
- count+=1
	.feed.twoLine
		.imageBox.m
			%img{:src=>"/images/personas85/persona" + count.to_s +  ".jpg"}
		%h4 John Smith is looking for
		%h3 Italy , Construcction Supplies