.presentation
	%h3 
		%span Executive Brief
	.version
		%h6 Last Edited by: Roberto
		%h6 56 Days ago
	.feed.oneLine
		%h4 Highlights
		.content
			%ul 
				%li For 20 years we been one of the top 5 construction suppliers in Costa Rica
				%li Mantained our top brand Hilco with a market share between 75% and 90% for +15 years
				%li One out of Four distributors of Yale in Costa Rica, 3 Exclusive Brands and 5+ Own Brands 
 
			
.presentation
	%h3 
		%span Market & Brands
		= render_file('menu/buttonMenu')
	.version
		%h6 Edited by: Carlos
		%h6 156 Days ago
	.feed.oneLine
		%h4 Hilco
		.version
			%h6 Edited by: Roberto
			%h6 56 Days ago
		.imageBox
			%img{:src=>"/images/brands/hilco.png"}
		.content
			%ul 
				%li For 20 years we been one of the top 5 construction suppliers in Costa Rica
				%li Mantained our top brand Hilco with a market share between 75% and 90% for +15 years
				%li One out of Four distributors of Yale in Costa Rica, 3 Exclusive Brands and 5+ Own Brands 
 
.presentation
	%h3 
		%span Contact & Locations
		= render_file('menu/buttonMenu')
	.version
		%h6 Edited by: Roberto
		%h6 156 Days ago
	.feed.oneLine
		%h4 How to Contact Us
		.version
			%h6 Edited by: Roberto
			%h6 56 Days ago
		.content
			%ul 
				%li Phone: 506 22 40 99 66
				%li Address: San Jose , Costa Rica
				%li Email: info@rodcocr.co
 
 
.presentation
	%h3 
		%span Product Catalog
		= render_file('menu/buttonMenu')
	.version
		%h6 Edited by: Roberto
		%h6 56 Days ago
	.feed.oneLine
		%h4 Soldadura Hilco 6013
		.version
			%h6 Edited by: Roberto
			%h6 56 Days ago
		.imageBox
			%img{:src=>"/images/products/product1.png"}
		.content
			%ul 
				%li For 20 years we been one of the top 5 construction suppliers in Costa Rica
				%li Mantained our top brand Hilco with a market share between 75% and 90% for +15 years
				%li One out of Four distributors of Yale in Costa Rica, 3 Exclusive Brands and 5+ Own Brands 

 