- count=0
- ul = (1...6)
- ul.each do |li|
- count+=1
	.feed.oneLine
		.imageBox.m
			%img{:src=>"/images/empresas85/logo" + count.to_s +  ".png"}
		%h3 
			Coca Cola
			.tools
				%a{:href => "#"} test
		%h4 Published Just created their stand